* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-width: 1200px;
}

:root {
    --color-header: #ffffff;
    --color-tex: #1f1f1f;
    --color-btn: #0061fe;
    --color-jambo: #b4d0e6;
}

.d-flex {
    display: flex;
}

.conteiner {
    width: 100%;
}

.conteiner-sml {
    width: 70%;
    margin: 0 auto;

}

.debug * {
    border: 1px dashed black;

}

/* /general*/

/*inizio header debug*/
.debug .bar {
    background-color: aquamarine;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.debug .logo {
    background-color: blanchedalmond;
    width: 70px;
    height: 30px;
    margin-right: 5px;
}

.debug .barleft {
    background-color: blanchedalmond;
    width: 200px;
    height: 30px;

}

.debug .barright {
    background-color: blanchedalmond;
    width: 200px;
    height: 30px;

}

.debug .btn {
    text-decoration: none;
    background-color: #0061fe;
    padding-top: 5px;
    height: 30px;
    margin-left: 5px;
    color: white;
}

/*fine header debug*/


/*inizio header classico*/
.bar {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.searchbar {
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.barleft {
    padding-top: 5px;
    color: var(--color-tex);
    gap: 30px;

}

.barright {
    padding-top: 5px;
    color: var(--color-tex);
    gap: 30px;


}

.btn {
    text-decoration: none;
    background-color: #0061fe;
    padding: 5px;
    margin-left: 20px;
    color: white;
}

/* fine header*/

/* inizio jumb debug*/
.debug h1 {
    background-color: black;
    height: 100px;

}

#jumbotron {
    justify-content: space-between;
    align-items: center;


}

.work {
    width: 40%;
}

.debug .texwork {
    background-color: black;
    width: auto;
    height: 150px;
    margin-bottom: 10px;
}

.btnprova {
    background-color: var(--color-btn);
    color: white;
}

.debug .affermazione {
    background-color: black;
    width: auto;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fa-solid {
    font-size: 30px;
}

.debug .imgservice {
    background-color: black;
    width: 60%;
    height: 300px;
}

/* .debug jumbotron*/
h1 {
    font-size: 100px;
    margin-bottom: 30px;

}

.jumbotron {
    justify-content: space-between;
    align-items: center;

}

.partwork {
    width: 100%;
}

.texwork {
    margin-bottom: 20px;
    font-size: 25px;
}

.btnprova {
    padding: 5px;
    background-color: var(--color-btn);
    color: white;
}

.affermazione {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-solid {
    font-size: 30px;
}

.imgservice {
    width: 60%;
}

.imgservice img {
    width: 100%;
}

/*fine jumbotron*/

/* inizio prima tabella debug*/

.debug h2 {
    background-color: red;
    width: 300px;
    height: 60px;
}

.debug .btn-fatturazione {
    background-color: red;
    width: 200px;
    height: 30px;
}
.debug .cel {
    background-color: red;
    width: calc(100% / 3);
    height: 300px;
}

.debug .celbig {
    background-color: red;
    width: 100%;
    height: 300px;
}

/* fine debug section 1*/

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#cashyear {
    margin-left: 50px;
}

.card {

    padding-top: 30px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.celsmol {
    width: calc(100% / 3 - 10px);
    flex-direction: column;
    

}

.colum-title {
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.colum-main {
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    border: 1px solid black;
    

}

.tex-grey {
    color: grey;
}

.fa-check {
    color: var(--color-btn);
}


.btn-main {
margin: 50px;

}

.colum-footer {
    flex-direction: column;
    gap: 20px;

}

.colum-title .colum-main .colum-footer {
    border: 1px solid black;
}

.celbig {
    width: 100%;
    border: 1px solid black;
    flex-direction: column;
    
}

.colum-title {
    text-align: center;
    
}

.bigbox {

    padding-top: 20px;

}

/* inizio terza sezione main*/
.imgservice {
    width: 60%;
}

.imgservice img {
    width: 100%;
}


.partwork {
    width: 100%;
}

.texwork {
    padding-left: 30px;
    font-size: 25px;
}

.btncontatto{
    margin-left: 30px;
    padding: 5px;
    background-color: white;
    border: 1px solid grey;
    color: grey;
}

.affermazione {
    padding-left: 20px;
    margin-bottom: 20px;
}

.fa-solid {
    font-size: 30px;
}




